.count {
 width: auto;
 padding: 0 10px;
 margin: 0;
 margin-left: 30px;
 color: #ff0000;
}

.count-txt {
 color: #000000;
}

.l-count {
 color: #000000;
}


/* ### 
l レイアウト用
c- 部品用
g-グローバル用
 #### */
